.expandable-header {
    background-color: transparent;
    color: #f7fafc;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
  
.expandable-content {
    max-height: 0;
    transition: max-height 0.3s ease-out; /* Smooth transition */
    background-color: transparent;
    overflow: hidden; /* Crucial for hiding the overflowing content during transition */
}
  
.expandable-content.opened {
    max-height: 1000px; /* A value larger than the maximum possible content height */
    transition: max-height 0.3s ease-in;
}
  
.content-inner {
    padding: 15px;
}